@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 100;
  src: local("Helvetica Neue LT"), local("HelveticaNeueLT"), url("../fonts/helveticaneuelt-thincond.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 300;
  src: local("Helvetica Neue LT"), local("HelveticaNeueLT"), url("../fonts/helveticaneuelt-lightcond.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica Neue LT"), local("HelveticaNeueLT"), url("../fonts/helveticaneuelt-heavycond.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 500;
  src: local("Helvetica Neue LT"), local("HelveticaNeueLT"), url("../fonts/helveticaneuelt-mediumcond.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 100;
  src: local("Helvetica Neue LT 57"), local("HelveticaNeueLT-57"), url("../fonts/LT_55413.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 500;
  src: local("Helvetica Neue LT 57"), local("HelveticaNeueLT-57"), url("../fonts/LT_55415.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 800;
  src: local("Helvetica Neue LT 57"), local("HelveticaNeueLT-57"), url("../fonts/LT_55417.woff") format("woff"); }

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 100;
  src: local("PF DinText Pro Thin"), local("PFDinTextPro-Thin"), url("../fonts/pfdintextpro-thin.woff") format("woff"); }

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 300;
  src: local("PF DinText Pro Light"), local("PFDinTextPro-Light"), url("../fonts/pfdintextpro-light.woff") format("woff"); }

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 400;
  src: local("PF DinText Pro Regular"), local("PFDinTextPro-Regular"), url("../fonts/pfdintextpro-regular.woff") format("woff"); }

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 500;
  src: local("PF DinText Pro Medium"), local("PFDinTextPro-Medium"), url("../fonts/pfdintextpro-medium.woff") format("woff"); }

@font-face {
  font-family: 'Neo Sans Cyr';
  font-style: normal;
  font-weight: 700;
  src: local("Neo Sans Cyr Medium"), local("NeoSansCyr-Medium"), url("../fonts/neosanscyr-medium.woff") format("woff"); }

ul {
  margin: 0;
  padding: 0; }

html,
body {
  font-family: "Helvetica Neue LT 57", sans-serif;
  font-weight: 100; }

p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.2em; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.container-layout {
  position: relative;
  width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.grid {
  position: relative;
  z-index: 999; }
  .grid::after {
    content: "";
    display: inline-block;
    width: 100%; }
  .grid_column {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    text-align: left; }
  .grid_item {
    display: block; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.radio {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -283px; }

label {
  display: inline-block;
  cursor: pointer;
  font: 600 18px/1.2 "Helvetica Neue LT 57", sans-serif;
  vertical-align: middle;
  color: #fff;
  padding: 0;
  position: relative; }

input[type=radio],
input[type=checkbox] {
  display: none; }

label::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 47px;
  height: 42px;
  margin-right: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(68, 32, 4, 0.15);
  vertical-align: middle;
  border-radius: 42%;
  margin-bottom: 10px; }

input[type=radio]:checked + label:after,
input[type=checkbox]:checked + label:after {
  content: "";
  width: 27px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000;
  background: url("../img/check.png") no-repeat 50% 50%; }

input[type=text] {
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #fff;
  color: #1C3344;
  font-size: 16px;
  padding: 13px 22px 13px; }

input[placeholder] {
  color: #1C3344; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.section_title {
  color: #1F9AA9;
  font-family: 'Helvetica Neue LT 57';
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 10px; }

.section_subtitle {
  color: #212222;
  font-family: 'Helvetica Neue LT 57';
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  margin: 10px; }

.c-menu {
  float: left; }
  .c-menu_item {
    display: inline-block; }
    .c-menu_item:first-child {
      padding-left: 0; }
  .c-menu_link {
    display: block;
    padding: 1.875em 1.25em;
    color: #212121;
    font-size: 1.125em;
    font-weight: 700; }

.c-enrol {
  float: right;
  margin: 1.875em;
  margin-right: 0;
  font-size: 1.125em;
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
  position: relative; }
  .c-enrol::before, .c-enrol::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #EF4E37;
    position: absolute;
    left: 0; }
  .c-enrol::before {
    content: '';
    bottom: -5px; }
  .c-enrol::after {
    content: '';
    bottom: -9px; }

.c-btn-record {
  display: inline-block;
  color: #FFF;
  font-family: 'Helvetica Neue LT 57';
  font-size: 2.25em;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #eee;
  border-radius: 50px;
  padding: 11px 30px 9px;
  margin-bottom: 58px; }

.slider-item {
  display: inline-block; }

.c-card_name {
  color: #212222;
  font-family: "Helvetica Neue LT Cyrillic";
  font-size: 20px;
  font-weight: 500; }

.c-card_year {
  color: #212222;
  font-family: "Helvetica Neue LT Cyrillic";
  font-size: 18px;
  font-weight: 100; }

.c-scroll-down {
  padding: 60px 0 68px;
  text-align: center;
  position: relative;
  z-index: 999; }
  .c-scroll-down_icon {
    display: inline-block;
    width: 29px;
    height: 79px;
    background: url("../img/icon-scroll-down.png") 0 0 no-repeat; }

.header {
  position: relative;
  background: url("../img/section-bg-1.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 698px;
  padding-top: 16px; }
  .header .grid_item {
    width: 400px; }
  .header-logo {
    margin-bottom: 52px; }
    .header-logo_img {
      margin-bottom: 10px; }
    .header-logo_text {
      color: #1E2431;
      font-family: "Neo Sans Cyr";
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase; }
  .header_menu {
    background-color: rgba(255, 255, 255, 0.6); }
    .header_menu::after {
      content: "";
      display: block;
      clear: both; }
    .header_menu .c-enrol {
      color: #EF4E37; }
  .header-timer {
    margin-bottom: 52px; }
    .header-timer_title {
      color: #212121;
      font-size: 29px;
      font-weight: 100;
      text-transform: uppercase;
      font-family: 'Helvetica Neue LT 57'; }
  .header-tagline {
    margin-bottom: 10px;
    color: #EF4E37;
    font-family: 'Helvetica Neue LT 57';
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase; }

.video {
  height: 760px;
  background: url("../img/section-bg-2.jpg") 0 0 no-repeat;
  background-size: cover; }

.train {
  padding: 3.75em 0; }
  .train-item {
    padding: 8px 11px;
    border-radius: 2px;
    vertical-align: middle;
    margin-bottom: 4px;
    font-weight: 100; }
    .train-item:nth-child(even) {
      background-color: #dbe200;
      display: inline-block; }
    .train-item_point {
      text-align: center;
      margin-right: 20px;
      font-size: 14px;
      font-weight: 400; }

.target-list {
  text-align: justify; }
  .target-list::after {
    content: "";
    display: inline-block;
    width: 100%; }

.target-item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 11%; }
  .target-item_point {
    width: 67px;
    height: 67px;
    position: relative;
    margin: 0 auto 16px; }
    .target-item_point span {
      color: #FFF;
      font-family: 'Helvetica Neue LT 57';
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 54%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.employment .section_title {
  margin-bottom: 30px; }

.employment-list {
  text-align: justify; }
  .employment-list::after {
    content: "";
    display: inline-block;
    width: 100%; }

.employment-item {
  display: inline-block;
  text-align: center;
  width: 295px;
  background-color: #FFF;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  vertical-align: top;
  padding: 26px 30px 73px; }
  .employment-item_img {
    text-align: center;
    margin-bottom: 24px; }
  .employment-item_text {
    color: #4A4A4A;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 22px;
    font-weight: 100;
    padding-bottom: 24px;
    position: relative; }
    .employment-item_text::before, .employment-item_text::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 40px;
      height: 2px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: #5c5c5c; }
    .employment-item_text::before {
      content: "";
      bottom: 0; }
    .employment-item_text::after {
      content: "";
      bottom: -4px; }

.reviews-student {
  position: relative; }
  .reviews-student .section_title {
    margin-bottom: 50px; }
  .reviews-student_elem-1 {
    position: absolute;
    left: 0;
    top: -104px;
    background: url("../img/elem-rewiews-student.png") 0 0 no-repeat; }

.reviews-employers {
  position: relative; }
  .reviews-employers .section_title {
    margin-bottom: 50px; }
  .reviews-employers_bg {
    width: 100%;
    position: absolute;
    bottom: -65%;
    left: 0; }

.trainers {
  padding-bottom: 104px;
  background: url("../img/trainers-bg.png") 0 100% no-repeat; }
  .trainers .section_title {
    margin-bottom: 40px; }
  .trainers-list {
    text-align: justify; }
    .trainers-list::after {
      content: "";
      display: inline-block;
      width: 100%; }
  .trainers-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 350px; }
    .trainers-item_img {
      width: 148px;
      height: 148px;
      border-radius: 50px;
      margin: 0 auto 30px; }
    .trainers-item_name {
      color: #212222;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 13px; }
    .trainers-item_text {
      color: #343434;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 16px; }

.footer-student {
  height: 183px;
  background: url("../img/footer-student-bg.png") 0 0 no-repeat;
  background-size: cover;
  position: relative; }
  .footer-student img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.footer-menu {
  background-color: #2b2b2b; }
  .footer-menu::after {
    content: '';
    clear: both;
    display: block; }
  .footer-menu .c-menu_link {
    color: #fff;
    text-decoration: underline; }
  .footer-menu .c-enrol {
    color: #25AABA; }
    .footer-menu .c-enrol::before, .footer-menu .c-enrol::after {
      background-color: #25AABA; }

.footer-copyright {
  padding: 16px 0;
  color: #2B2B2B;
  font-family: "Helvetica Neue LT Cyrillic";
  font-size: 16px;
  position: relative; }
  .footer-copyright::after {
    content: "";
    display: block;
    clear: both; }
  .footer-copyright_text {
    float: left; }
  .footer-copyright_signature {
    float: right; }
    .footer-copyright_signature a {
      color: #2B2B2B;
      text-decoration: underline; }

.footer-btn-up {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 41px;
  height: 37px;
  background: url(../img/btn-up.jpg) 0 0 no-repeat; }
