@font-face {
  font-family: 'Helvetica Neue LT Cyrillic';
  font-style: normal;
  font-weight: 100;
  src: local("Helvetica Neue LT Cyrillic Th"), local("HelveticaNeueLTCyrillic-th"), url("../fonts/HelveticaNeueLTCyrillicTnCn.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT Cyrillic';
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica Neue LT Cyrillic Reg"), local("HelveticaNeueLTCyrillic-reg"), url("../fonts/HelveticaNeueLTCyrillicRegCn.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT Cyrillic';
  font-style: normal;
  font-weight: 500;
  src: local("Helvetica Neue LT Cyrillic Hev"), local("HelveticaNeueLTCyrillic-hev"), url("../fonts/HelveticaNeueLTCyrillic87HeavyCn.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 100;
  src: local("Helvetica Neue LT 57"), local("HelveticaNeueLT-57"), url("../fonts/LT_55413.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 500;
  src: local("Helvetica Neue LT 57"), local("HelveticaNeueLT-57"), url("../fonts/LT_55415.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 800;
  src: local("Helvetica Neue LT 57"), local("HelveticaNeueLT-57"), url("../fonts/LT_55417.woff") format("woff"); }

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 100;
  src: local("PF DinText Pro Thin"), local("PFDinTextPro-Thin"), url("../fonts/pfdintextpro-thin.woff") format("woff"); }

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 300;
  src: local("PF DinText Pro Light"), local("PFDinTextPro-Light"), url("../fonts/PFDinTextCondPro-Light.woff") format("woff"); }

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 400;
  src: local("PF DinText Pro Regular"), local("PFDinTextPro-Regular"), url("../fonts/pfdintextpro-regular.woff") format("woff"); }

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 500;
  src: local("PF DinText Pro Medium"), local("PFDinTextPro-Medium"), url("../fonts/pfdintextpro-medium.woff") format("woff"); }

@font-face {
  font-family: 'Neo Sans Cyr';
  font-style: normal;
  font-weight: 700;
  src: local("Neo Sans Cyr Medium"), local("NeoSansCyr-Medium"), url("../fonts/neosanscyr-medium.woff") format("woff"); }

ul {
  margin: 0;
  padding: 0; }

html,
body {
  font-family: "Helvetica Neue LT Cyrillic", sans-serif;
  font-weight: 100; }

body {
  overflow-x: hidden; }

p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.2em; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.sticky-header {
  background-color: #fff !important;
  position: fixed !important;
  height: 75px;
  top: 0;
  width: 100%;
  box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.15); }

.container-layout {
  position: relative;
  width: 1100px;
  margin-left: auto;
  margin-right: auto; }
  .container-layout::after {
    content: '';
    display: block;
    clear: both; }

.grid {
  position: relative;
  z-index: 999; }
  .grid::after {
    content: "";
    display: inline-block;
    width: 100%; }
  .grid_column {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    text-align: left; }
  .grid_item {
    display: block; }

*,
*::before,
*::after {
  box-sizing: border-box; }

section {
  width: 100%;
  padding-top: 16px; }

.radio {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -283px; }

label {
  display: inline-block;
  cursor: pointer;
  font: 600 18px/1.2 "Helvetica Neue LT Cyrillic", sans-serif;
  vertical-align: middle;
  color: #fff;
  padding: 0;
  position: relative; }

input[type=radio],
input[type=checkbox] {
  display: none; }

label::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 47px;
  height: 42px;
  margin-right: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(68, 32, 4, 0.15);
  vertical-align: middle;
  border-radius: 42%;
  margin-bottom: 10px; }

input[type=radio]:checked + label:after,
input[type=checkbox]:checked + label:after {
  content: "";
  width: 27px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000;
  background: url("../img/check.png") no-repeat 50% 50%; }

input[type=text] {
  border: 2px solid #fff;
  outline: none;
  border-radius: 2px;
  color: #1C3344;
  width: 100%;
  font-size: 16px;
  padding: 13px; }

input[placeholder] {
  color: #1C3344; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.section_title {
  color: #1F9AA9;
  font-family: 'Helvetica Neue LT Cyrillic';
  font-weight: 500;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px; }

.section_subtitle {
  color: #212222;
  font-family: 'Helvetica Neue LT Cyrillic';
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  margin: 10px; }

.c-menu {
  float: left; }
  .c-menu_item {
    display: inline-block; }
    .c-menu_item:first-child a {
      padding-left: 0; }
  .c-menu_link {
    display: block;
    padding: 1.28em 1.3em;
    color: #212121;
    font-size: 1.2em;
    font-weight: 700;
    transition: all .2s ease-out; }
    .c-menu_link:hover {
      color: #ef4e37;
      transition: all .2s ease-out; }

.c-enrol {
  float: right;
  margin: 1.58em;
  margin-right: 0;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #EF4E37;
  font-weight: 700;
  position: relative;
  transition: all .2s ease-out; }
  .c-enrol:hover {
    transition: all .2s ease-out;
    color: #25aaba; }
    .c-enrol:hover::before, .c-enrol:hover::after {
      background-color: #25aaba;
      transition: all .2s ease-out; }
  .c-enrol::before, .c-enrol::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #EF4E37;
    position: absolute;
    left: 0; }
  .c-enrol::before {
    content: '';
    bottom: -5px; }
  .c-enrol::after {
    content: '';
    bottom: -9px; }

.c-btn-record {
  border: none;
  display: inline-block;
  color: #000;
  font-family: 'Helvetica Neue LT 57';
  font-size: 2.25em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 50px;
  padding: .40em 1.3em .21em .9em;
  background-color: #e7ee15;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-out; }
  .c-btn-record:hover {
    opacity: .9;
    transition: all .2s ease-out; }
  .c-btn-record::after {
    content: '';
    width: 7px;
    height: 11px;
    background: url("../img/icon-arrow.png") 0 0 no-repeat;
    position: absolute;
    top: 50%;
    right: 7%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .c-btn-record--small {
    font-size: 1.125em;
    padding: .5em 3.1em .5em 2.5em; }
    .c-btn-record--small::after {
      content: '';
      width: 7px;
      height: 10px;
      background: url("../img/icon-arrow.png") 0 0 no-repeat;
      position: absolute;
      top: 50%;
      right: 14%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }

.slider-item {
  display: inline-block; }

.c-card {
  display: inline-block; }
  .c-card_img {
    margin-bottom: 10px; }
  .c-card_name {
    color: #212222;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px; }
  .c-card_year {
    color: #212222;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 18px;
    font-weight: 100; }
  .c-card_text {
    text-align: left;
    color: #212121;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 13px;
    font-weight: 400; }
    .c-card_text span {
      font-weight: 700; }

.c-scroll-down {
  padding: 60px 0 52px;
  text-align: center;
  position: relative;
  z-index: 999; }
  .c-scroll-down_icon {
    display: inline-block;
    width: 29px;
    height: 79px;
    background: url("../img/icon-scroll-down.png") 0 0 no-repeat; }

.c-timer {
  font-family: 'PF DinText Pro'; }
  .c-timer_item {
    display: inline-block;
    color: #212121;
    font-size: 65px;
    font-weight: 300;
    padding: 2px 17px;
    padding-bottom: 4px;
    border-right: 1px solid #000;
    position: relative; }
    .c-timer_item:last-child,
    .c-timer_item:last-child .c-timer_text {
      border: none;
      color: #ef4e37; }
  .c-timer_text {
    position: absolute;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #212121;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'PF DinText Pro'; }

.header {
  position: relative;
  z-index: 9999;
  background: url("../img/section-bg-1.jpg") 38px 1px no-repeat;
  background-size: cover;
  padding-bottom: 75px; }
  .header .grid_item {
    width: 410px; }
  .header-logo {
    margin-bottom: 49px; }
    .header-logo_img {
      margin-bottom: 10px; }
    .header-logo_text {
      color: #1E2431;
      font-family: "Neo Sans Cyr";
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase; }
  .header_menu {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .header_menu::after {
      content: "";
      display: block;
      clear: both; }
  .header-timer {
    margin-bottom: 57px; }
    .header-timer_title {
      color: #212121;
      font-size: 29px;
      font-weight: 100;
      text-transform: uppercase;
      font-family: 'Helvetica Neue LT Cyrillic';
      margin-bottom: 10px; }
    .header-timer_wrap > div {
      text-align: left !important; }
  .header-tagline {
    margin-bottom: 10px;
    color: #EF4E37;
    font-family: 'Helvetica Neue LT Cyrillic';
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase; }
  .header .c-btn-record {
    background-color: #25aaba;
    color: #fff;
    margin-bottom: 4px; }
    .header .c-btn-record::after {
      content: '';
      background: url("../img/icon-arrow-white.png") 0 0 no-repeat; }

.video {
  position: relative;
  height: 760px;
  overflow: hidden; }
  .video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .video video {
    width: 100%; }

.train {
  padding: 3.75em 0;
  position: relative;
  margin-bottom: 53px; }
  .train .section_title {
    margin-bottom: 18px; }
  .train .section_subtitle {
    margin-bottom: 16px; }
  .train_bg {
    background: url("../img/train-bg.png") 0 0 no-repeat;
    background-size: cover;
    width: 1920px;
    height: 472px;
    position: absolute;
    bottom: -15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .train-list {
    margin-bottom: 50px; }
  .train-item {
    padding: 8px 11px;
    border-radius: 2px;
    vertical-align: middle;
    margin-bottom: 6px;
    font-weight: 100;
    font-size: 21px; }
    .train-item:nth-child(even) {
      background-color: #dbe200;
      display: inline-block; }
    .train-item_point {
      text-align: center;
      margin-right: 20px;
      font-size: 14px;
      font-weight: 400; }
  .train-action {
    display: inline-block;
    padding-left: 12px; }
    .train-action_img {
      text-align: center;
      margin: 0 auto 4px; }
    .train-action_title {
      color: #FFF;
      font-size: 45px;
      text-transform: uppercase;
      font-weight: 500;
      font-family: 'Helvetica Neue LT Cyrillic'; }
    .train-action_subtitle {
      color: #FFF;
      font-size: 22px;
      font-weight: 400;
      font-family: 'Helvetica Neue LT Cyrillic';
      margin-bottom: 14px; }

.target {
  margin-bottom: 9px; }
  .target .section_title {
    margin-bottom: 5px; }
  .target .section_subtitle {
    margin-top: 0;
    margin-bottom: 32px; }
  .target-list {
    text-align: justify; }
    .target-list::after {
      content: "";
      display: inline-block;
      width: 100%; }
  .target-item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 12%; }
    .target-item:last-child, .target-item:nth-child(5), .target-item:nth-child(6) {
      width: 8%; }
    .target-item_point {
      width: 67px;
      height: 67px;
      position: relative;
      margin: 0 auto 16px; }
      .target-item_point span {
        color: #FFF;
        font-family: 'Helvetica Neue LT 57';
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 54%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .target-item_text {
      font-size: 18px; }

.employment {
  position: relative; }
  .employment .section_title {
    margin-bottom: 30px; }
  .employment-list {
    text-align: justify; }
    .employment-list::after {
      content: "";
      display: inline-block;
      width: 100%; }
  .employment-item {
    display: inline-block;
    text-align: center;
    width: 295px;
    background-color: #FFF;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    vertical-align: top;
    padding: 26px 30px 48px; }
    .employment-item_img {
      text-align: center;
      margin-bottom: 24px; }
    .employment-item_text {
      color: #4A4A4A;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 22px;
      font-weight: 100;
      padding-bottom: 24px;
      position: relative; }
      .employment-item_text::before, .employment-item_text::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 40px;
        height: 2px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        background-color: #5c5c5c; }
      .employment-item_text::before {
        content: "";
        bottom: 0; }
      .employment-item_text::after {
        content: "";
        bottom: -4px; }
  .employment_bg {
    position: absolute;
    bottom: -15%;
    right: 12%;
    width: 218px;
    height: 211px;
    background: url("../img/elem-employment.png") 0 0 no-repeat; }

.reviews-student {
  position: relative;
  z-index: 1002; }
  .reviews-student .section_title {
    margin-bottom: 44px; }
  .reviews-student_elem-1 {
    position: absolute;
    left: -44px;
    top: -86px;
    background: url("../img/elem-rewiews-student.png") 0 0 no-repeat; }
  .reviews-student + .c-scroll-down {
    padding: 53px 0 36px; }

.reviews-employers {
  position: relative; }
  .reviews-employers .section_title {
    margin-bottom: 46px; }
  .reviews-employers_bg {
    background: url("../img/reviews-employers-bg.png") 0 0 no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1021px;
    position: absolute;
    bottom: -49%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .reviews-employers + .c-scroll-down {
    padding: 53px 0 20px; }

.entry-course {
  position: relative; }
  .entry-course .section_title {
    margin-bottom: -6px; }
  .entry-course .section_subtitle {
    margin-bottom: 33px; }
  .entry-course_bg {
    background: url("../img/elem-entry-course.png") 0 0 no-repeat;
    background-size: cover;
    width: 1920px;
    height: 328px;
    position: absolute;
    bottom: -7%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .entry-course_title {
    color: #232323;
    font-family: 'Helvetica Neue LT Cyrillic';
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .entry-course-timer {
    width: 38%;
    padding-left: 30px;
    display: inline-block;
    vertical-align: top; }
  .entry-course .c-timer_item:first-child {
    padding-left: 0; }
  .entry-course .c-timer_item:first-child .c-timer_text {
    left: 40%; }
  .entry-course_number > div {
    text-align: left !important; }
  .entry-course_price {
    font-family: 'Helvetica Neue LT Cyrillic';
    width: 61%;
    min-height: 297px;
    position: relative;
    vertical-align: top;
    display: inline-block; }
    .entry-course_price-bg {
      position: absolute;
      left: 9px;
      top: -3px; }
    .entry-course_price-wrap {
      position: absolute;
      z-index: 9;
      top: 74px;
      left: 37px; }
    .entry-course_price-text {
      display: inline-block;
      color: #000;
      font-weight: 400;
      font-size: 30px;
      text-transform: uppercase; }
    .entry-course_price-old-number {
      position: absolute;
      top: -32px;
      left: 128px;
      -webkit-transform: rotate(-17deg);
          -ms-transform: rotate(-17deg);
              transform: rotate(-17deg);
      color: #FFF;
      font-weight: 400;
      font-size: 45px;
      text-decoration: line-through; }
      .entry-course_price-old-number span {
        font-size: 23px;
        font-weight: 400;
        text-decoration: line-through; }
    .entry-course_price-number {
      display: inline-block;
      color: #FFF;
      font-weight: 500;
      font-size: 90px; }
      .entry-course_price-number span {
        color: #FFF;
        font-size: 50px;
        font-weight: 400; }
  .entry-course_form {
    float: right;
    width: 775px;
    text-align: center;
    position: relative;
    z-index: 10;
    color: #fff;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .entry-course_form input {
      background-color: transparent;
      margin-bottom: 32px;
      color: #fff;
      font-size: 16px; }
    .entry-course_form ::-webkit-input-placeholder {
      color: #ffffff; }
    .entry-course_form ::-moz-placeholder {
      color: #fff; }
    .entry-course_form :-moz-placeholder {
      color: #fff; }
    .entry-course_form :-ms-input-placeholder {
      color: #fff; }
    .entry-course_form .c-btn-record {
      margin-bottom: 10px; }
    .entry-course_form .form_item {
      display: inline-block;
      width: 33%;
      padding: 0 8px; }
  .entry-course .c-timer_item {
    font-size: 60px;
    font-weight: 300;
    padding: 10px 17px;
    padding-bottom: 4px; }
    .entry-course .c-timer_item:last-child,
    .entry-course .c-timer_item:last-child .c-timer_text {
      border: none;
      color: #25aaba; }
  .entry-course + .c-scroll-down {
    padding: 58px 0 12px; }

.trainers {
  padding-bottom: 90px;
  background: url("../img/trainers-bg.png") 0 100% no-repeat; }
  .trainers .section_title {
    margin-bottom: 40px; }
  .trainers-list {
    text-align: justify; }
    .trainers-list::after {
      content: "";
      display: inline-block;
      width: 100%; }
  .trainers-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 335px; }
    .trainers-item_img {
      width: 148px;
      height: 148px;
      border-radius: 50px;
      margin: 0 auto 30px; }
    .trainers-item_name {
      color: #212222;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 9px; }
    .trainers-item_text {
      color: #343434;
      font-family: "Helvetica Neue LT Cyrillic";
      font-weight: 400;
      line-height: 1.4;
      font-size: 16px; }

.footer-student {
  height: 183px;
  background: url("../img/footer-student-bg.png") 0 0 no-repeat;
  background-size: cover;
  position: relative; }
  .footer-student img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.footer-menu {
  background-color: #2b2b2b; }
  .footer-menu::after {
    content: '';
    clear: both;
    display: block; }
  .footer-menu .c-menu_link {
    color: #fff;
    text-decoration: underline;
    font-weight: 400;
    font-size: 15px;
    padding: 1.78em 1.3em; }
    .footer-menu .c-menu_link:hover {
      color: #25aaba;
      transition: all .2s ease-out; }

.footer-copyright {
  padding: 16px 0;
  color: #2B2B2B;
  font-family: "Helvetica Neue LT Cyrillic";
  font-size: 16px;
  position: relative; }
  .footer-copyright::after {
    content: "";
    display: block;
    clear: both; }
  .footer-copyright_text {
    float: left; }
  .footer-copyright_signature {
    float: right; }
    .footer-copyright_signature a {
      color: #2B2B2B;
      text-decoration: underline; }

.footer-btn-up {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 41px;
  height: 37px;
  background: url(../img/btn-up.jpg) 0 0 no-repeat; }

.timer-separator {
  padding: 0 10px !important; }

/*slick*/
.slick-prev {
  left: 4px;
  background: url("../img/slider-arrow-left.png") 0 0 no-repeat; }

.slider-item {
  text-align: center; }

.slick-slider {
  z-index: 999; }

.slick-next {
  right: 4px;
  background: url("../img/slider-arrow-right.png") 0 0 no-repeat; }

.slick-prev,
.slick-next {
  width: 27px;
  height: 57px;
  border-radius: 0;
  z-index: 999; }
  .slick-prev::before,
  .slick-next::before {
    font-size: 8px;
    color: #000; }

.slick-next::before {
  content: '';
  width: 27px;
  height: 57px;
  background: url("../img/slider-arrow-right.png") 0 0 no-repeat; }

.slick-prev::before {
  content: '';
  width: 27px;
  height: 57px;
  background: url("../img/slider-arrow-left.png") 0 0 no-repeat; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 3px solid #000;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  vertical-align: top; }

.slick-dots li.slick-active {
  background-color: #fbbb00;
  border: none; }
