.c-menu {
  float: left;
  &_item {
    display: inline-block;

    &:first-child a {
      padding-left: 0;
    }
  }

  &_link {
    display: block;
    padding: 1.28em 1.3em;
    color: #212121;
    font-size: 1.2em;
    font-weight: 700;
    transition: all .2s ease-out;


    &:hover {
      color: #ef4e37;
      transition: all .2s ease-out;
    }
  }
}


//c-enrol
.c-enrol {
  float: right;
  margin: 1.58em;
  margin-right: 0;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #EF4E37;
  font-weight: 700;
  position: relative;
  transition: all .2s ease-out;


  &:hover {
    //opacity: .8;
    transition: all .2s ease-out;
    color: #25aaba;

    &::before,
    &::after {
    background-color: #25aaba;
    transition: all .2s ease-out;
  }

  }

  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #EF4E37;
    position: absolute;
    left: 0;
  }

  &::before {
    content: '';
    bottom: -5px;
  }

  &::after {
    content: '';
    bottom: -9px;
  }
}

//c-btn-record
.c-btn-record {
  border: none;
  display: inline-block;
  color: #000;
  font-family: 'Helvetica Neue LT 57';
  font-size: 2.25em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 50px;
  padding: .40em 1.3em .21em .9em;
  //margin-bottom: 58px;
  background-color: #e7ee15;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-out;

  &:hover {
    opacity: .9;
    transition: all .2s ease-out;
  }

  &::after {
    content: '';
    width: 7px;
    height: 11px;
    background: url("../img/icon-arrow.png") 0 0 no-repeat;
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
  }

  &--small {
    font-size: 1.125em;
    padding: .5em 3.1em .5em 2.5em;


    &::after {
      content: '';
      width: 7px;
      height: 10px;
      background: url("../img/icon-arrow.png") 0 0 no-repeat;
      position: absolute;
      top: 50%;
      right: 14%;
      transform: translateY(-50%);
    }
  }
}

.slider {
  &-item {
    display: inline-block;
  }
}

//c-card
.c-card {
  display: inline-block;

  &_img {
  margin-bottom: 10px;
  }

  &_name {
    color: #212222;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
  }

  &_year {
    color: #212222;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 18px;
    font-weight: 100;
  }

  &_text {
    text-align: left;
    color: #212121;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 13px;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }
}

.c-scroll-down {
  padding: 60px 0 52px;
  text-align: center;
  position: relative;
  z-index: 999;

  &_icon {
    display: inline-block;
    width: 29px;
    height: 79px;
    background: url("../img/icon-scroll-down.png") 0 0 no-repeat;
  }
}

//.c-timer
.c-timer {
  font-family: 'PF DinText Pro';

  &_item {
    display: inline-block;
    color: #212121;
    font-size: 65px;
    font-weight: 300;
    padding: 2px 17px;
    padding-bottom: 4px;
    border-right: 1px solid #000;
    position: relative;

    &:last-child,
    &:last-child .c-timer_text {
      border: none;
      color: #ef4e37;
    }
  }

  &_text {
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    //text-align: center;
    color: #212121;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'PF DinText Pro';
  }
}
