@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue LT'), local('HelveticaNeueLT'), url('../fonts/helveticaneuelt-thincond.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue LT'), local('HelveticaNeueLT'), url('../fonts/helveticaneuelt-lightcond.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue LT'), local('HelveticaNeueLT'), url('../fonts/helveticaneuelt-heavycond.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue LT'), local('HelveticaNeueLT'), url('../fonts/helveticaneuelt-mediumcond.woff') format('woff');
}




@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue LT 57'), local('HelveticaNeueLT-57'), url('../fonts/LT_55413.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue LT 57'), local('HelveticaNeueLT-57'), url('../fonts/LT_55415.woff') format('woff');
}


@font-face {
  font-family: 'Helvetica Neue LT 57';
  font-style: normal;
  font-weight: 800;
  src: local('Helvetica Neue LT 57'), local('HelveticaNeueLT-57'), url('../fonts/LT_55417.woff') format('woff');
}




@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 100;
  src: local('PF DinText Pro Thin'), local('PFDinTextPro-Thin'), url('../fonts/pfdintextpro-thin.woff') format('woff');
}

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 300;
  src: local('PF DinText Pro Light'), local('PFDinTextPro-Light'), url('../fonts/pfdintextpro-light.woff') format('woff');
}

@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 400;
  src: local('PF DinText Pro Regular'), local('PFDinTextPro-Regular'), url('../fonts/pfdintextpro-regular.woff') format('woff');
}


@font-face {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 500;
  src: local('PF DinText Pro Medium'), local('PFDinTextPro-Medium'), url('../fonts/pfdintextpro-medium.woff') format('woff');
}


@font-face {
  font-family: 'Neo Sans Cyr';
  font-style: normal;
  font-weight: 700;
  src: local('Neo Sans Cyr Medium'), local('NeoSansCyr-Medium'), url('../fonts/neosanscyr-medium.woff') format('woff');
}