@media all and (max-width: 1100px){

  .header .sticky-header {
    height: 55px;
  }

  .container-layout {
    width: 100%;
    padding: 0 20px;
  }

  .c-btn-record {
    font-size: 1.9em;
  }
  .c-menu_link {
    padding: 1em .6em;
    font-size: 1.1em;
  }

  .c-enrol {
    margin: 1em;
    font-size: 1em;
  }

  .sticky-header {
    height: 55px;
  }
  .target-list {
    text-align: center;
  }

  .target-list .target-item {
    width: 25%;
    margin-bottom: 16px;

  }

  .employment-item {
    width: 24%;
  }

  .reviews-student_elem-1 {
    left: -54%;
    top: -21%;
    background-size: cover;
  }

  .entry-course_price-text {
    display: block;
  }

  .entry-course_price-old-number {
    position: static;
    transform: none;
  }

  .entry-course_price-number,
  .entry-course_price-number span {
    color: #272727;
  }

  .entry-course_price-wrap {
    position: static;
  }

  .entry-course_price {
    min-height: 0;
    background-color: #dbe200;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 87px;
    width: 50%;
  }

  .entry-course_price-bg {
    display: none;
  }

  .entry-course-timer {
    width: 49%;
  }


  .footer-menu .c-enrol {
    margin: 1.4em 1.3em;
  }


}//end 1100px

@media all and (max-width: 980px){
  .header {
    background-position: 40% 50%;
  }

  .header-logo_text-item {
    font-size: 27px;
  }

  .header-logo_img {
    //margin-right: 0;
    width: 74px;
    height: 74px;
    margin-right: 12px;
  }
  .header-logo_img img {
    width: 100%;
  }

  .c-btn-record {
    padding: .4em .9em .25em;
  }
  .c-btn-record::after {
    content: '';
    display: none;
  }

  .employment-item {
    width: 49%;
    margin-bottom: 12px;
  }

  .entry-course_bg {
    left: 20%;
  }

  .entry-course_form {
    float: none;
    width: 100%;
  }
  .entry-course_price {
    margin-bottom: 30px;
  }
}//end media

@media all and (max-width: 890px){
  .c-menu_link {
    padding: 1em .3em;
  }

  .header .grid_item {
    width: 48%;
  }

  .video {
    margin-bottom: 40px;
  }
}//end media

@media all and (max-width: 890px){
  .header {
    padding-bottom: 0;
  }

  .header .sticky-header {
    //position: static;
    background-color: #25aaba;
    height: auto;
  }

  .c-menu_mobile {
    display: inline-block;
  }
  .header_menu .mobile-student {
    display: block;
  }
  .header_menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    background-color: #25aaba;
    z-index: 9999;
    padding-top: 40px;
    padding-bottom: 90px;
    text-align: center;
  }

  .header_menu .container-layout {
    padding: 0;
  }

  .header_menu .c-menu_item {
    display: block;
    text-align: center;
  }

  .c-menu_link {
    padding: .6em 0;
    color: #fff;
    text-decoration: underline;
    font-weight: 400;
  }

  .c-menu_link:hover {
    color: #E1E72B;
  }

  .header .c-enrol {
    color: #E1E72B;
    font-size: 32px;
    text-transform: uppercase;
    margin: 30px 0;
    display: inline-block;
  }
  .header .c-enrol::after,
  .header .c-enrol::before {
    background-color: #E1E72B;
  }


  .header_menu .c-menu,
  .header_menu .c-enrol {
    float: none;
  }

  .entry-course_price-number {
    font-size: 68px;
  }

  .entry-course .c-timer_item {
    font-size: 40px;
  }

  .footer-student {
    height: 140px;
  }

  .train {
    margin: 0;
    padding: 0;
  }

  .train .container-layout {
    padding: 0;
  }

  .train-list {
    padding: 0 10px;
  }

  .train_bg {
    display: none;
  }

  .train-action_img {
    position: absolute;
    left:45%;
    top: -50px;
    transform: skewY(-2deg);
  }

  .train-action_subtitle {
    display: none;
  }

  .train-action_title {
    margin-bottom: 10px;
  }

  .train-action_title,
  .train-action .c-btn-record {
    transform: skewY(-2deg);
  }

  .train-action {
    position: relative;
    padding: 24px 0;
    text-align: center;
    width: 100%;
    background-color: #25AABA;
    transform: skewY(2deg);
    margin-top: 150px;
  }

  .train-action::before {
    content: '';
    position: absolute;
    top: -113%;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    height: 186px;
    background: url($img-dir + "target-people.png") 0 0 no-repeat;
    background-size: cover;
  }
}//end media

@media all and (max-width: 735px){
  .c-btn-record {
    font-size: 1.5em;
    padding: .5em 1.1em .35em;
  }

  .target-list .target-item {
    width: 33%;
  }

  .entry-course_price-number {
    font-size: 54px;
  }

  .footer-menu .c-menu,
  .footer-menu .c-enrol {
    float: none;
  }

  .footer-menu .c-menu_item {
    display: block;
    text-align: center;
  }

  .footer-menu {
    //padding: 64px 0 24px;
    padding: 24px 0;
    text-align: center;
  }

  .footer-menu .c-menu_link {
    padding: 8px 0;
    font-size: 16px;
  }

  .footer-menu .c-enrol {
    display: inline-block;
    font-size: 30px;
    margin: 24px 0 32px;
  }


  .footer-student img {
    width: 100%;
  }

  //.footer-copyright .footer-btn-up {
  //  display: none;
  //}
}//end media

@media all and (max-width: 680px){
  .entry-course-timer {
    display: none;
  }

  .entry-course_price {
    width: 100%;
    transform: skewY(-2deg);
    border-radius: 0;
    padding: 20px 10px;
  }

  .entry-course .container-layout {
    padding: 0;
  }
  .entry-course_price-wrap {
   text-align: center;
  }

  .entry-course_price-text,
  .entry-course_price-old-number,
  .entry-course_price-number {
    transform: skewY(2deg);
  }

  .entry-course_price-text {
    font-size: 24px;
  }

  .entry-course_price-old-number {
    font-size: 31px;
  }

  .entry-course_price-old-number span {
    font-size: 16px;
  }

  .entry-course_price-number {
    font-size: 68px;
  }

  .entry-course_price-number span {
    font-size: 32px;
  }
}//end media

@media all and (max-width: 650px){
  .section_title,
  .train-action_title {
    font-size: 33px;
  }

  .section_subtitle {
    font-size: 24px;
  }

  .reviews-student .section_subtitle {
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
  }

  .header-logo {
    margin-left: 10px;
  }
  .header .container-layout {
    padding: 0;
  }

  .c-menu_mobile {
    margin-left: 10px;
  }

  .container-layout {
    padding: 0 10px;
  }
  .header {
    background: none;
  }

  .header .grid_item {
    width: 100%;
  }

  .header-description {
    transform: skewY(-2deg);
    background-color: #EF4E37;
    padding: 35px 10px;
    margin-bottom: 5px;
  }
  .header-description_text {
    transform: skewY(2deg);
    color: #fff;
  }

  .l-header-tagline {
    transform: skewY(-2deg);
    background-color: #25aaba;
    padding: 30px 10px 5px;
    margin-bottom: 26px;
  }

  .header-tagline,
  .header-count {
    transform: skewY(2deg);
  }

  .header-tagline {
      color: #fff;
      font-weight: 700;
      font-size: 24px;
  }

  .header-count_title {
    font-weight: 400;
  }

  .header-count_number--color {
    color: #fff;
    font-weight: 700;
  }

  .header-guarantees {
    padding: 0 10px;
  }

  .header-count {
    margin: 0;
  }

  .l-c-btn-record {
    text-align: center;
  }

  .c-scroll-down {
    display: none;
  }

  .reviews-student_elem-1 {
    left: -105%;
    top: -25%;
  }

  .trainers {
    background: none;
  }

  .train-action::before {
    content: '';
    top: -118%;
    width: 400px;
  }

  .train-action {
    padding: 32px 0;
  }

  .train-action_title {
    font-size: 31px;
    font-weight: 400;
  }
}//end media

@media all and (max-width: 550px) {
  .target-list .target-item {
    width: 50%;
  }

  .employment-item {
    width: 100%;
  }

  .reviews-student_elem-1 {
    left: 0%;
    top: 0%;
  }

  .entry-course {
    margin-bottom: 30px;
  }
  .entry-course_bg {
    background: none;
  }

  .entry-course_form {
    background-color: #25aaba;
    padding: 20px 0 30px;
    transform: skewY(-2deg);
  }
  .entry-course_form::before {
    content: '';
    width: 124px;
    height: 73px;
    position: absolute;
    top: -69px;
    left: 10px;
    background: url($img-dir + "mobile-people.png") 0 0 no-repeat;
  }

  .entry-course_form .form_item {
    transform: skewY(2deg);
  }

  .entry-course_form .c-btn-record {
    position: absolute;
    bottom: -30px;
    z-index: 9999;
    white-space: nowrap;
    left: 50%;
    transform: skewY(2deg) translateX(-50%);
  }

  .entry-course_form .form_item {
    display: block;
    width: 100%;
    margin-bottom: 12px;
  }
  .entry-course_form .form_item:last-child {
    margin-bottom: 19px;
  }

  .entry-course_form input {
    margin-bottom: 0;
  }

  .entry-course_price {
    margin-bottom: 48px;
  }

  .trainers {
    padding-bottom: 46px;
  }
}

@media all and (max-width: 480px) {
  .header-description {
    padding: 45px 10px;
  }

  .header-logo_text-item {
    font-size: 1.19em;
  }

  .header-logo_img {
    width: 54px;
    height: 54px;
  }

  .slick-prev,
  .slick-next {
    width: 16px;
    height: 33px;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .footer-student {
    height: 100px;
  }

  .trainers {
    padding-bottom: 20px;
  }
  .entry-course_price-wrap {
    text-align: left;
  }
}

@media all and (max-width: 380px) {
  .section_title,
  .section_subtitle {
    text-align: left;
  }

  .reviews-student_elem-1 {
    left: 0%;
    top: 5%;
  }

  .footer-student {
    height: 80px;
  }

}