@import "fonts";
@import "base";
@import "components";
@import "media-queries";

//header
.header {
  position: relative;
  z-index: 9999;
  background: url($img-dir + "section-bg-1.jpg") 38px 1px no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  // padding-top: 16px;
  padding-bottom: 75px;

  //grid-item
  .grid_item {
    width: 410px;
  }

  //header-logo
  &-logo {
    margin-bottom: 49px;

    &_img {
      margin-bottom: 10px;
    }

    &_text {
      color: #1E2431;
      font-family: "Neo Sans Cyr";
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &_menu {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      display: block;
      clear: both;
    }//::after
  }//header_menu

  &-timer {
    margin-bottom: 57px;

    &_title {
      color: #212121;
      font-size: 29px;
      font-weight: 100;
      text-transform: uppercase;
      font-family: 'Helvetica Neue LT Cyrillic';
      margin-bottom: 10px;
    }

    &_wrap {

      & > div {
        text-align: left !important;
      }
    }
  }

  &-tagline {
    margin-bottom: 10px;
    color: #EF4E37;
    font-family: 'Helvetica Neue LT Cyrillic';
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
  }//tagline

  .c-btn-record {
    background-color: #25aaba;
    color: #fff;
    margin-bottom: 4px;

    &::after {
      content: '';
      background: url("../img/icon-arrow-white.png") 0 0 no-repeat;

    }
  }
}//header

.active-item {
  color: #25aaba;
}

//video
.video {
  position: relative;
  height: 760px;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  video {

    width: 100%;
  }
}//video


//train
.train {
  padding: 3.75em 0;
  position: relative;
  margin-bottom: 53px;

  .section_title {
    margin-bottom: 18px;
  }
  .section_subtitle {
    margin-bottom: 16px;
  }

  &_bg {
    background: url("../img/train-bg.png") 0 0 no-repeat;
    background-size: cover;
    width: 1920px;
    height: 472px;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
  }

  &-list {
    margin-bottom: 50px;
  }

  &-item {
    padding: 8px 11px;
    border-radius: 2px;
    vertical-align: middle;
    margin-bottom: 6px;
    font-weight: 100;
    font-size: 21px;

    &:nth-child(even) {
      background-color: #dbe200;
      display: inline-block;
    }

    &_point {
      text-align: center;
      margin-right: 20px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &-action {
    display: inline-block;
    padding-left: 12px;

    &_img {
      text-align: center;
      margin: 0 auto 4px;
    }

    &_title {
      color: #FFF;
      font-size: 45px;
      text-transform: uppercase;
      font-weight: 500;
      font-family: 'Helvetica Neue LT Cyrillic';
    }

    &_subtitle {
      color: #FFF;
      font-size: 22px;
      font-weight: 400;
      font-family: 'Helvetica Neue LT Cyrillic';
      margin-bottom: 14px;
    }
  }
}//train


//target
.target {
  margin-bottom: 9px;

  .section_title {
    margin-bottom: 5px;
  }
  .section_subtitle {
    margin-top: 0;
    margin-bottom: 32px;
  }

  &-list {
    text-align: justify;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  &-item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 12%;

    &:last-child,
    &:nth-child(5),
    &:nth-child(6) {
      width: 8%;
    }

    &_point {
      width: 67px;
      height: 67px;
      position: relative;
      margin: 0 auto 16px;

      span {
        color: #FFF;
        font-family: 'Helvetica Neue LT 57';
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 54%;
        transform: translate(-50%, -50%);
      }
    }
    &_text {
      font-size: 18px;
    }
  }
}

//*****************************************
//employment
//*****************************************
.employment {
  position: relative;

  .section_title {
    margin-bottom: 30px;
  }


  &-list {
    text-align: justify;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  &-item {
    display: inline-block;
    text-align: center;
    width: 295px;
    background-color: #FFF;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    vertical-align: top;
    padding: 26px 30px 48px;


    &_img {
      text-align: center;
      margin-bottom: 24px;
    }

    &_text {
      color: #4A4A4A;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 22px;
      font-weight: 100;
      padding-bottom: 24px;
      position: relative;


      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 40px;
        height: 2px;
        transform: translateX(-50%);
        background-color: #5c5c5c;
      }

      &::before {
        content: "";
        bottom: 0;
      }

      &::after {
        content: "";
        bottom: -4px;
      }
    }
  }

  &_bg {
    position: absolute;
    bottom: -15%;
    right: 12%;
    width: 218px;
    height: 211px;
    background: url("../img/elem-employment.png") 0 0 no-repeat;
  }
}

//*****************************************
//reviews-student
//*****************************************
.reviews-student {
  position: relative;
  z-index: 1002;

  .section_title {
    margin-bottom: 44px;
  }

  &_elem-1 {
    position: absolute;
    left: -44px;
    top: -86px;
    background: url("../img/elem-rewiews-student.png") 0 0 no-repeat;
  }

  & + .c-scroll-down {
    padding: 53px 0 36px;
  }
}

//*****************************************
//reviews-employers
//*****************************************
.reviews-employers {
  position: relative;

  .section_title {
      margin-bottom: 46px;
  }

  &_bg {

    background: url("../img/reviews-employers-bg.png") 0 0 no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1021px;
    position: absolute;
    bottom: -49%;
    left: 50%;
    transform: translateX(-50%);
  }

  & + .c-scroll-down {
    padding: 53px 0 20px;
  }
}

//*****************************************
//entry-cours
//*****************************************
.entry-course {
  position: relative;


  .section_title {
    margin-bottom: -6px;
  }

  .section_subtitle {
    margin-bottom: 33px;
  }

  &_bg {
    background: url("../img/elem-entry-course.png") 0 0 no-repeat;
    background-size: cover;
    width: 1920px;
    height: 328px;
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translateX(-50%);
  }

  &_title {
    color: #232323;
    font-family: 'Helvetica Neue LT Cyrillic';
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &-timer {
    width: 38%;
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
  }

  .c-timer_item:first-child {
    padding-left: 0;
  }

  .c-timer_item:first-child .c-timer_text{
    left: 40%;
  }

  &_number {

    & > div {
      text-align: left !important;
    }
  }

  &_price {
    font-family: 'Helvetica Neue LT Cyrillic';
    width: 61%;
    min-height: 297px;
    position: relative;
    vertical-align: top;
    display: inline-block;

    &-bg {
      position: absolute;
      left: 9px;
      top: -3px;
    }

    &-wrap {
      position: absolute;
      z-index: 9;
      top: 74px;
      left: 37px;
    }

    &-text {
      display: inline-block;
      color: #000;
      font-weight: 400;
      font-size: 30px;
      text-transform: uppercase;
    }

    &-old-number {
      position: absolute;
      top: -32px;
      left: 128px;
      transform: rotate(-17deg);
      color: #FFF;
      font-weight: 400;
      font-size: 45px;
      text-decoration: line-through;

      span {
        font-size: 23px;
        font-weight: 400;
        text-decoration: line-through;

      }
    }

    &-number {
      display: inline-block;
      color: #FFF;
      font-weight: 500;
      font-size: 90px;

      span {
        color: #FFF;
        font-size: 50px;
        font-weight: 400;
      }
    }
  }

  &_form {
    float: right;
    width: 775px;
    text-align: center;
    position: relative;
    z-index: 10;
    color: #fff;

    input {
      background-color: transparent;
      margin-bottom: 32px;
      color: #fff;
      font-size: 16px;
    }

    ::-webkit-input-placeholder {color:#ffffff;}
    ::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
    :-moz-placeholder           {color:#fff;}/* Firefox 18- */
    :-ms-input-placeholder      {color:#fff;}

    .c-btn-record {
      margin-bottom: 10px;
    }

    .form_item {
      display: inline-block;
      width: 33%;
      padding: 0 8px;
    }
  }

  .c-timer {

    &_item {
      font-size: 60px;
      font-weight: 300;
      padding: 10px 17px;
      padding-bottom: 4px;

      &:last-child,
      &:last-child .c-timer_text {
        border: none;
        color: #25aaba;
      }
    }


  }
  & + .c-scroll-down {
    padding: 58px 0 12px;
  }

}


//*****************************************
//trainers
//*****************************************
.trainers {
  padding-bottom: 90px;
  background: url("../img/trainers-bg.png") 0 100% no-repeat;

  .section_title {
    margin-bottom: 40px;
  }

  &-list {
    text-align: justify;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  &-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 335px;

    &_img {
      width: 148px;
      height: 148px;
      border-radius: 50px;
      margin: 0 auto 30px;
    }

    &_name {
      color: #212222;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 9px;
    }

    &_text {
      color: #343434;
      font-family: "Helvetica Neue LT Cyrillic";
      font-weight: 400;
      line-height: 1.4;
      font-size: 16px;
    }
  }
}

//*****************************************
//footer
//*****************************************
.footer {

  &-student {
    height: 183px;
    // width: 100%;
    background: url("../img/footer-student-bg.png") 0 0 no-repeat;
    background-size: cover;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-menu {
    background-color: #2b2b2b;
    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .c-menu_link {
      color: #fff;
      text-decoration: underline;
      font-weight: 400;
      font-size: 15px;
      padding: 1.78em 1.3em;

      &:hover {
        color: #25aaba;
        transition: all .2s ease-out;
      }
    }
  }//footer-menu

  &-copyright {
    padding: 16px 0;
    color: #2B2B2B;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 16px;
    position: relative;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    &_text {
      float: left;
    }

    &_signature {
      float: right;

      a {
        color: #2B2B2B;
        text-decoration: underline;
      }
    }
  }

  &-btn-up {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 37px;
    background: url(../img/btn-up.jpg) 0 0 no-repeat;
  }
}//footer

//timer
.timer-separator {
  padding: 0 10px !important;
}


/*slick*/
.slick-prev {
  left: 4px;
  background: url("../img/slider-arrow-left.png") 0 0 no-repeat;
}

.slider-item {
  text-align: center;
}

.slick-slider {
  z-index: 999;
}

.slick-next {
  right: 4px;
  background: url("../img/slider-arrow-right.png") 0 0 no-repeat;
}

.slick-prev,
.slick-next {
  width: 27px;
  height: 57px;
  border-radius: 0;
  z-index: 999;

  &::before {
    font-size: 8px;
    color: #000;
  }
}
// .slick-prev:hover {
//   opacity: .9;
// }
//
// .slick-next:hover {
//   opacity: .9;
// }


.slick-next::before {
  content: '';
  width: 27px;
  height: 57px;
  background: url("../img/slider-arrow-right.png") 0 0 no-repeat;
}
.slick-prev::before {
  content: '';
  width: 27px;
  height: 57px;
  background: url("../img/slider-arrow-left.png") 0 0 no-repeat;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 3px solid #000;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
}

.slick-dots li.slick-active {
  background-color: #fbbb00;
  border: none;
}
