@import "fonts";
@import "base";
@import "components";
@import "media-queries";

//header
.header {
  position: relative;
  background: url($img-dir + "section-bg-1.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 698px;
  padding-top: 16px;

  //grid-item
  .grid_item {
    width: 400px;
  }

  //header-logo
  &-logo {
    margin-bottom: 52px;

    &_img {
      margin-bottom: 10px;
    }

    &_text {
      color: #1E2431;
      font-family: "Neo Sans Cyr";
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &_menu {
    background-color: rgba(255, 255, 255, 0.6);

    &::after {
      content: "";
      display: block;
      clear: both;
    }//::after

    .c-enrol {
      color: #EF4E37;
    }
  }//header_menu

  &-timer {
    margin-bottom: 52px;

    &_title {
      color: #212121;
      font-size: 29px;
      font-weight: 100;
      text-transform: uppercase;
      font-family: 'Helvetica Neue LT 57';
    }
  }

  &-tagline {
    margin-bottom: 10px;
    color: #EF4E37;
    font-family: 'Helvetica Neue LT 57';
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
  }//tagline
}//header

//video
.video {
  height: 760px;
  background: url($img-dir + "section-bg-2.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}//video


//train
.train {
  padding: 3.75em 0;

  &-list {

  }

  &-item {
    padding: 8px 11px;
    border-radius: 2px;
    vertical-align: middle;
    margin-bottom: 4px;
    font-weight: 100;

    &:nth-child(even) {
      background-color: #dbe200;
      display: inline-block;
    }

    &_point {
      text-align: center;
      margin-right: 20px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}//train


//target
.target {

  &-list {
    text-align: justify;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  &-item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 11%;

    &_point {
      width: 67px;
      height: 67px;
      position: relative;
      margin: 0 auto 16px;

      span {
        color: #FFF;
        font-family: 'Helvetica Neue LT 57';
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 54%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

//*****************************************
//employment
//*****************************************
.employment {

  .section_title {
    margin-bottom: 30px;
  }


  &-list {
    text-align: justify;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  &-item {
    display: inline-block;
    text-align: center;
    width: 295px;
    background-color: #FFF;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    vertical-align: top;
    padding: 26px 30px 73px;

    &_img {
      text-align: center;
      margin-bottom: 24px;
    }

    &_text {
      color: #4A4A4A;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 22px;
      font-weight: 100;
      padding-bottom: 24px;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 40px;
        height: 2px;
        transform: translateX(-50%);
        background-color: #5c5c5c;
      }

      &::before {
        content: "";
        bottom: 0;
      }

      &::after {
        content: "";
        bottom: -4px;
      }
    }
  }
}

//*****************************************
//reviews-student
//*****************************************
.reviews-student {
  position: relative;

  .section_title {
    margin-bottom: 50px;
  }

  &_elem-1 {
    position: absolute;
    left: 0;
    top: -104px;
    background: url("../img/elem-rewiews-student.png") 0 0 no-repeat;
  }
}

//*****************************************
//reviews-employers
//*****************************************
.reviews-employers {
  position: relative;

  .section_title {
    margin-bottom: 50px;
  }

  &_bg {
    width: 100%;
    position: absolute;
    bottom: -65%;
    left: 0;
  }
}


//*****************************************
//trainers
//*****************************************
.trainers {
  padding-bottom: 104px;
  background: url("../img/trainers-bg.png") 0 100% no-repeat;

  .section_title {
    margin-bottom: 40px;
  }

  &-list {
    text-align: justify;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  &-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 350px;

    &_img {
      width: 148px;
      height: 148px;
      border-radius: 50px;
      margin: 0 auto 30px;
    }

    &_name {
      color: #212222;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 13px;
    }

    &_text {
      color: #343434;
      font-family: "Helvetica Neue LT Cyrillic";
      font-size: 16px;
    }
  }
}

//*****************************************
//footer
//*****************************************
.footer {

  &-student {
    height: 183px;
    // width: 100%;
    background: url("../img/footer-student-bg.png") 0 0 no-repeat;
    background-size: cover;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-menu {
    background-color: #2b2b2b;
    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .c-menu_link {
      color: #fff;
      text-decoration: underline;
    }

    .c-enrol {
      color: #25AABA;

      &::before,
      &::after {
        background-color: #25AABA;
      }
    }
  }//footer-menu

  &-copyright {
    padding: 16px 0;
    color: #2B2B2B;
    font-family: "Helvetica Neue LT Cyrillic";
    font-size: 16px;
    position: relative;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    &_text {
      float: left;
    }

    &_signature {
      float: right;

      a {
        color: #2B2B2B;
        text-decoration: underline;
      }
    }
  }

  &-btn-up {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 37px;
    background: url(../img/btn-up.jpg) 0 0 no-repeat;
  }
}//footer
